beautifulsoup4
certifi
charset-normalizer
click
collection
colorama
commonmark
cursor
idna
lxml
mypy-extensions
pathspec
platformdirs
psutil
Pygments
regex
requests
rich
soupsieve
termcolor
tomli
typing_extensions
urllib3
